# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [154]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [156]:
# put your answer here
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [157]:
# put your answer here
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [158]:
# put your answer here
df.shape

(48895, 16)

Identify the numerical features:

In [159]:
# put your answer here
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print(numerical_features)

['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

Identify the categorical features

In [160]:
# put your answer here
categorical_features = df.select_dtypes(include=['object']).columns.tolist()
print(categorical_features)

['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']

What are the top 5 questions this dataset might help answer?

In [161]:
# put your answer here:
"""
1. Price Analysis: What is the average price for different room types across various neighbourhood groups in NYC?
2. Popularity & Reviews: Is there a correlation between the price and the number of reviews or reviews per month?
3. Geographic Trends: Which neighbourhoods have the highest concentration of listings, and how does price vary geographically?
4. Host Activity: Do high-volume hosts (high calculated_host_listings_count) dominate certain neighborhoods or price points?
5. Availability & Demand: How does the minimum nights requirement impact listing availability throughout the year?
"""

'\n1. Price Analysis: What is the average price for different room types across various neighbourhood groups in NYC?\n2. Popularity & Reviews: Is there a correlation between the price and the number of reviews or reviews per month?\n3. Geographic Trends: Which neighbourhoods have the highest concentration of listings, and how does price vary geographically?\n4. Host Activity: Do high-volume hosts (high calculated_host_listings_count) dominate certain neighborhoods or price points?\n5. Availability & Demand: How does the minimum nights requirement impact listing availability throughout the year?\n'

## B. Structuring

Check if the dataset has proper column types

In [162]:
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [163]:
# put your answer here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [164]:
# put your answer here
print("Index is Unique:", df.index.is_unique)
# Use is_monotonic_increasing for modern pandas versions
print("Index is Monotonic Increasing:", df.index.is_monotonic_increasing)

Index is Unique: True
Index is Monotonic Increasing: True

Check if the dataset has duplicated rows

In [165]:
# put your answer here
print("Duplicated Rows Count:", df.duplicated().sum())

Duplicated Rows Count: 0

Convert columns to correct types (e.g., dates → datetime).

In [166]:
# put your answer here
df['last_review'] = pd.to_datetime(df['last_review'])
print("Column 'last_review' successfully converted to datetime type.")
print(df['last_review'].dtype)

Column 'last_review' successfully converted to datetime type.
datetime64[ns]

Identify at least one structural issue and describe how to fix it.

In [167]:
# put your answer here

"""
Structural Issue: The 'last_review' column was loaded as an 'object' (string) type, despite representing a date.
Fix: We used the pd.to_datetime() function to convert this column to the proper datetime type. This enables date-based filtering and time-series analysis.
"""

"\nStructural Issue: The 'last_review' column was loaded as an 'object' (string) type, despite representing a date.\nFix: We used the pd.to_datetime() function to convert this column to the proper datetime type. This enables date-based filtering and time-series analysis.\n"

In [168]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## C. Cleaning

Check for missing values

In [169]:
# put your answer here
print(df.isna().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [170]:
# put your answer here
print(df['minimum_nights'].describe())
print(f"Listings with minimum_nights > 365 (extreme outliers): {df[df['minimum_nights'] > 365].shape[0]}")

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64
Listings with minimum_nights > 365 (extreme outliers): 14

Check for invalid values (e.g., price ≤ 0)

In [171]:
# put your answer here
print(f"Listings with price <= 0 (invalid values): {df[df['price'] <= 0].shape[0]}")

Listings with price <= 0 (invalid values): 11

Apply a missing-value strategy (drop, fill, or flag)

In [172]:
# put your answer here

# 1. Fill NaNs in 'reviews_per_month' with 0.0 (logically correct for 0 reviews)
df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0)

# 2. Drop rows with missing 'name' or 'host_name' (small number of records, hard to impute)
df.dropna(subset=['name', 'host_name'], inplace=True)

print("Missing value strategy applied. Remaining NaNs:")
print(df.isna().sum())

Missing value strategy applied. Remaining NaNs:
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Apply an outlier-handling strategy

In [173]:
# put your answer here

# 1. Remove invalid values where 'price' is non-positive (0 or less)
df = df[df['price'] > 0]

# 2. Remove extreme outliers in 'minimum_nights' (e.g., greater than 365 nights)
df = df[df['minimum_nights'] <= 365]

print("Outlier strategy applied.")
print(f"New DataFrame shape: {df.shape}")

Outlier strategy applied.
New DataFrame shape: (48834, 16)

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [174]:
# put your answer here

# 1. price_per_minimum_night
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

# 2. review_rate_score (combine ratings + frequency)
# This uses a simple multiplicative score: Total reviews * (1 + frequency)
df['review_rate_score'] = df['number_of_reviews'] * (1 + df['reviews_per_month'])

# 3. is_expensive (boolean flag based on price threshold - using the 75th percentile)
price_threshold = df['price'].quantile(0.75)
df['is_expensive'] = df['price'] > price_threshold

print(df[['price', 'minimum_nights', 'price_per_minimum_night', 'review_rate_score', 'is_expensive']].head())

   price  minimum_nights  price_per_minimum_night  review_rate_score  \
0    149               1                    149.0              10.89
1    225               1                    225.0              62.10
2    150               3                     50.0               0.00
3     89               1                     89.0            1522.80
4     80              10                      8.0               9.90

   is_expensive
0         False
1          True
2         False
3         False
4         False

In [175]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_score,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.000000,10.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.000000,62.10,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365,50.000000,0.00,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.000000,1522.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,8.000000,9.90,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,66.666667,117.66,True
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0,1.333333,68.60,False
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220,39.500000,1922.10,False
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,39.500000,234.82,False
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188,150.000000,372.80,False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [176]:
# put your answer here

# Aggregation: Average price and count per Neighbourhood Group
neighbourhood_summary = df.groupby('neighbourhood_group').agg(
    average_price=('price', 'mean'),
    total_listings=('id', 'count'),
    median_minimum_nights=('minimum_nights', 'median')
).sort_values(by='average_price', ascending=False).reset_index()

print(neighbourhood_summary)

  neighbourhood_group  average_price  total_listings  median_minimum_nights
0           Manhattan     196.919074           21637                    3.0
1            Brooklyn     124.479625           20074                    3.0
2       Staten Island     114.812332             373                    2.0
3              Queens      99.512363            5662                    2.0
4               Bronx      87.549632            1088                    2.0

In [177]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_score,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.000000,10.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.000000,62.10,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365,50.000000,0.00,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.000000,1522.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,8.000000,9.90,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,66.666667,117.66,True
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0,1.333333,68.60,False
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220,39.500000,1922.10,False
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,39.500000,234.82,False
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188,150.000000,372.80,False

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [178]:
# put your answer here

# Validation Check 1: Price must be positive.
rule_1_violations = df[df['price'] <= 0].shape[0]

# Validation Check 2: Host ID should not be null.
rule_2_violations = df['host_id'].isnull().sum()

# Validation Check 3: Minimum nights must be >= 1.
rule_3_violations = df[df['minimum_nights'] < 1].shape[0]

# Generate a validation report:
validation_report = pd.DataFrame({
    'Validation Rule': ['Price must be positive', 'Host ID should not be null', 'Minimum nights must be >= 1'],
    'Violating Rows Count': [rule_1_violations, rule_2_violations, rule_3_violations]
})

print("Validation Report:")
print(validation_report)

"""
Decide if invalid rows (if any) should be removed or corrected?

Decision: The invalid rows were already REMOVED during the cleaning stage (C). The validation report shows 0 violations for these core business rules, confirming the success of the cleaning step. For critical issues (invalid price, extreme nights), removal is the preferred strategy.
"""

Validation Report:
               Validation Rule  Violating Rows Count
0       Price must be positive                     0
1   Host ID should not be null                     0
2  Minimum nights must be >= 1                     0

'\nDecide if invalid rows (if any) should be removed or corrected?\n\nDecision: The invalid rows were already REMOVED during the cleaning stage (C). The validation report shows 0 violations for these core business rules, confirming the success of the cleaning step. For critical issues (invalid price, extreme nights), removal is the preferred strategy.\n'

## F. Publishing

Select final columns for publication.

In [179]:
# put your answer here

final_columns = [
    'host_id',
    'neighbourhood_group',
    'neighbourhood',
    'latitude',
    'longitude',
    'room_type',
    'price',
    'minimum_nights',
    'number_of_reviews',
    'reviews_per_month',
    'calculated_host_listings_count',
    'availability_365',
    'price_per_minimum_night',
    'review_rate_score',
    'is_expensive'
]

df_cleaned = df[final_columns]
print("Final columns selected.")

Final columns selected.

In [180]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_score,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.000000,10.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.000000,62.10,True
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365,50.000000,0.00,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.000000,1522.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,8.000000,9.90,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129,66.666667,117.66,True
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0,1.333333,68.60,False
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220,39.500000,1922.10,False
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0,39.500000,234.82,False
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188,150.000000,372.80,False

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48834 entries, 0 to 48894
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48834 non-null  int64
 1   name                            48834 non-null  object
 2   host_id                         48834 non-null  int64
 3   host_name                       48834 non-null  object
 4   neighbourhood_group             48834 non-null  object
 5   neighbourhood                   48834 non-null  object
 6   latitude                        48834 non-null  float64
 7   longitude                       48834 non-null  float64
 8   room_type                       48834 non-null  object
 9   price                           48834 non-null  int64
 10  minimum_nights                  48834 non-null  int64
 11  number_of_reviews               48834 non-null  int64
 12  last_review                     38805 non-null  datetime64[ns]
 13  reviews_per_month               48834 non-null  float64
 14  calculated_host_listings_count  48834 non-null  int64
 15  availability_365                48834 non-null  int64
 16  price_per_minimum_night         48834 non-null  float64
 17  review_rate_score               48834 non-null  float64
 18  is_expensive                    48834 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(5), int64(7), object(5)
memory usage: 7.1+ MB

Export cleaned dataset as "cleaned_airbnb.csv"

In [182]:
# put your answer here

df_cleaned.to_csv("cleaned_airbnb.csv", index=False)
print('Exported cleaned dataset as "cleaned_airbnb.csv" [fileTag: cleaned_airbnb.csv]')

Exported cleaned dataset as "cleaned_airbnb.csv" [fileTag: cleaned_airbnb.csv]

Export summary reports (e.g., validation or aggregations) as CSV.

In [183]:
# put your answer here

validation_report.to_csv("validation_report.csv", index=False)
neighbourhood_summary.to_csv("neighbourhood_summary.csv", index=False)
print('Exported summary reports: "validation_report.csv" [fileTag: validation_report.csv] and "neighbourhood_summary.csv" [fileTag: neighbourhood_summary.csv]')

Exported summary reports: "validation_report.csv" [fileTag: validation_report.csv] and "neighbourhood_summary.csv" [fileTag: neighbourhood_summary.csv]

In [184]:

# 1. Calculate the 75th percentile (Q3) for price, grouped by 'room_type'.
# This creates a unique 'local' threshold for each room type.
room_type_q3 = df.groupby('room_type')['price'].quantile(0.75).reset_index(name='Q3_threshold')

# 2. Merge the thresholds back into the main DataFrame.
df_merged = pd.merge(df, room_type_q3, on='room_type', how='left')

# 3. Create the conditional flag: 'is_expensive_by_roomtype'.
# A listing is expensive IF its price is GREATER THAN its specific room type's Q3.
df_merged['is_expensive_by_roomtype'] = df_merged['price'] > df_merged['Q3_threshold']

# 4. Print the thresholds (Proof that price changes by type)
print("--- Q3 Price Thresholds by Room Type (The Benchmark) ---")
print(room_type_q3.to_markdown(index=False))

# 5. Validate/Prove the 25% claim for the 'Entire home/apt' category
entire_home_data = df_merged[df_merged['room_type'] == 'Entire home/apt']
entire_home_expensive_count = entire_home_data['is_expensive_by_roomtype'].sum()
entire_home_total = entire_home_data.shape[0]
entire_home_percentage = (entire_home_expensive_count / entire_home_total) * 100

print("\n--- Validation of Conditional Flag (Proof of Methodology) ---")
print(f"Total 'Entire home/apt' Listings: {entire_home_total}")
print(f"Percentage Flagged as Expensive (Relative to Entire Homes): {entire_home_percentage:.2f}%")

--- Q3 Price Thresholds by Room Type (The Benchmark) ---
| room_type       |   Q3_threshold |
|:----------------|---------------:|
| Entire home/apt |            229 |
| Private room    |             95 |
| Shared room     |             75 |

--- Validation of Conditional Flag (Proof of Methodology) ---
Total 'Entire home/apt' Listings: 25383
Percentage Flagged as Expensive (Relative to Entire Homes): 24.89%